.slideshow {
  width: calc(1120px - 120px);
  height: fit-content;
  .top-row {
    position: relative;
    width: fit-content;
    height: 200px;
    left: -120px;
    display: flex;
    justify-content: flex-start;
    .image {
      margin: 0 5px;
      border-radius: 5px;
      height: 200px;
    }
  }
  .bottom-row {
    position: relative;
    width: fit-content;
    height: 200px;
    left: -120px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    .image {
      margin: 0 5px;
      border-radius: 5px;
      height: 200px;
    }
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 150px;
    .button {
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #134880;
      background-position: center;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  }
}
